<button id="miBoton" type="button" (click)="incrementar()">Contador</button>
<hr>
<span id="resul" [innerHTML]="contador"></span>
<hr>
<button id="miBoton" type="button" (click)="practica()">Sumar</button>
<hr>
<span id="resul" [innerHTML]="evento"></span>
<hr>
<button id="miBoton" type="button" (click)="clave()">Cadena</button>
<hr>
<span id="resul" [innerHTML]="cadena"></span>
<hr>
<button id="miBoton" type="button" (click)="clave2()">Etiqueta</button>
<hr>
<span id="resul" [innerHTML]="cadena1"></span>